
.contextinfo {
    position: fixed;
    left: -44px;
    top: -20px;
    background-color: brown;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 1rem;
    transform-origin: top right;
    transform: rotate(-30deg);
}