
.contextinfo {
    position: fixed;
    right: 0px;
    top: 230px;
    background-color: brown;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 200px;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    transform-origin: top right;
    transform: rotate(90deg);
}