:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  align-self: stretch;
}

#root {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-self: stretch;
    height: 1px;
    flex-grow: 1;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.grow {
    flex-grow: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4%;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 96px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-width: 1px;
  outline-style: auto;
}
li {
    align-self: flex-start;
}

